<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DatePicker</title>
    <link type="text/css" rel="stylesheet" href="materialLib/css/angular-material.css" />
    <link type="text/css" rel="stylesheet" href="aDatePicker/aDatepicker.css" />
</head>
<body data-ng-app="app" data-ng-controller="myCtrl">
<div>
    <am-date-picker label="Date" ng-model="date1"></am-date-picker>
    <button data-ng-click="getDate();">Click</button>
</div>


<!-- script -->
<script type="text/javascript" src="angularLib/angular.min.js"></script>
<script type="text/javascript" src="angularLib/angular-route.min.js"></script>
<script type="text/javascript" src="angularLib/angular-aria.min.js"></script>
<script type="text/javascript" src="angularLib/angular-animate.min.js"></script>
<script type="text/javascript" src="angularLib/angular-moment.min.js"></script>
<script type="text/javascript" src="materialLib/script/angular-material.js"></script>
<script type="text/javascript" src="aDatePicker/aDatepicker.js"></script>

<script type="text/javascript" src="app.js"></script>
</body>
</html>